<div class="main">
  <div class="map">
    <ngui-map
      center="41.85002650662813, -87.65002950122334"
      (mapClick)="onMapClick($event)"
      (mapReady$)="onMapReady($event)">
    </ngui-map>
  </div>
  <div class="list">
    <ul>
      <li>ADDRESS 1</li>
      <li>ADDRESS 1</li>
      <li>ADDRESS 1</li>
      <li>ADDRESS 1</li>
      <li>ADDRESS 1</li>
      <li>ADDRESS 1</li>
      <li>ADDRESS 1</li>
      <li>ADDRESS 1</li>
      <li>ADDRESS 1</li>
      <li>ADDRESS 1</li>
      <li>ADDRESS 1</li>
      <li>ADDRESS 1</li>
      <li>ADDRESS 1</li>
      <li>ADDRESS 1</li>
    </ul>
  </div>
</div>