<div class="main">
  <div class="map">
    <ngui-map
      center="41.85002650662813, -87.65002950122334"
      (mapClick)="onMapClick($event)"
      (mapReady$)="onMapReady($event)">
    </ngui-map>
  </div>
  <div class="list">
    <p>Clicking any point in the map above will create a new entry in the database</p>
    <ul>
      <li *ngFor="let marker of markers">
        <pre><strong>{{ marker.date_created }}</strong>: {{ marker.address }} ({{ marker.latlng }})</pre>
      </li>
    </ul>
  </div>
</div>